---
headline: "The Education Department investigates influence of foreign funds on U.S. Universities"
subhead: ""
published_date: "October 2019"
author:
    name: "Humera Lodhi"
    url: "http://humeralodhi.com/"
analytics": ""
---
 <body class="gift-theme"></body>
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->

{{!< default}}


<!-- 
  Put some content into an .hbs file inside of /partials, 
  and you can just throw it in anywhere!
-->



<!-- 
  If you want to use something exported from ai2html...
    1. Rename the exported .html file to .hbs
    2. Put the .hbs file inside of 'html/story'
    3. Move the exported images to the images folder
    4. Include the partial normally like below
  -->
