---
headline: "HALA: CRITICS VS. TWITTER"
subhead: "In January of this year, Hala premiered at Sundance Film Festival. It was praised by critics, said to be an insightful coming-of-age story of a young Muslim girl. However, when AppleTV released a trailer on November 5, Twitter users had a different take.  "
published_date: "October 2019"
author:
    name: "Humera Lodhi"
    url: "http://humeralodhi.com/"
analytics": ""
---
 <body class="twitter-theme"></body>
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->

{{!< default}}

<!-- 
  Put some content into an .hbs file inside of /partials, 
  and you can just throw it in anywhere!
-->
{{> story/tweet }}

